<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

</head>
<body>
<h2>findAll.html</h2>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>작성자</th>
        <th>내용</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board:${boardList}">
        <td th:text="${board.boardId}"></td>
        <td th:text="${board.boardWriter}"></td>
        <td>
            <input type="hidden" id="boardContents" th:value="${board.boardContents}">
            <span id="contentElement"></span>
        </td>
        <script>

            let content = document.getElementById("boardContents").value
            console.log(content)
            let splitedArray = content.split(' ');
            let linkedContent = '';
            for(let word in splitedArray)
            {
                word = splitedArray[word];
                if(word.indexOf('#') == 0)
                {
                    word = '<a href=\'링크\'>'+word+'</a>';
                }
                linkedContent += word+' ';
            }
            document.getElementById('contentElement').innerHTML = linkedContent;
        </script>
    </tr>
    </tbody>
</table>
</body>
</html>